<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Books</title>
  <!-- Link to Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  

<div class="container mt-4">
  <h1>Explore Books</h1>


  <% books.forEach((book) => { %>
    <div class="book">
      <h3><%= book.title %></h3>
      <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="<%= book.title %>" >
      <p><%= book.author %></p>
      <p><%= book.genre %></p>
      <!-- Rest of the book details -->
  
      <div class="mt-4">
        <a href="/user/bookById/<%= book._id %>"   class="btn btn-primary">View Details</a>
      </div>
    
    </div>
  <% }) %>
</div>


</body>
</html>